.game-shapes
{
	.game-view
	{
		.img-thumbnail
		{
			&.wrong{
				background-color: #dc3545;
			}
			&.correct{
				background-color: #05d405;
			}
			&.pending{
				background-color: #a5a5a5;
			}
		}
	}
}
