@import '~bootstrap/scss/bootstrap.scss';

body, html {
    height: 100%;
}

body{
	-webkit-transition: background-color 1000ms linear;
	-moz-transition: background-color 1000ms linear;
	-o-transition: background-color 1000ms linear;
	-ms-transition: background-color 1000ms linear;
	transition: background-color 1000ms linear;
}

.kiosk{

	padding: 0;
	.dashboard
	{
		.mode{
			background-color: #a5a5a5;
			&.active{
				background-color: $primary;
				.label{
					color: #FFFFFF;
				}
			}

			.label{
				font-size: 4rem;
			}
		}
	}

	.player{
		overflow: hidden;
		.list-videos{
			.list-group-item{
				height: 20vh;
				padding:0;
				text-align: left;
				img{
					height: inherit;
					padding:5px 15px 5px 5px;
				}
			}
		}
	}

	.games{
		.games-list {
			.row {
				height: 20vh;
				background-color: #a5a5a5;

				.game-title {
					font-size: 3.5rem;
				}

				&.selected-game {
					background-color: $primary;
					.game-title{
						color: #FFFFFF;
					}
				}



				.game-image {
					img {
						background-color: #FFFFFF;
						height: inherit;
						max-height: 18vh;
					}
				}
			}
		}
	}
}

#app
{
    height: 100%;
    margin:0;

    .media-wrapper
    {
        text-align: center;

        img, video{
            max-height: 100%;
            max-width: 100%;
        }

        .welcome{
            font-size: 32pt;
        }
    }

	.view-wrapper {

		text-align: center;


	}
}