@import '~bootstrap/scss/bootstrap.scss';

body, html {
    height: 100%;
}

body{
	-webkit-transition: background-color 1000ms linear;
	-moz-transition: background-color 1000ms linear;
	-o-transition: background-color 1000ms linear;
	-ms-transition: background-color 1000ms linear;
	transition: background-color 1000ms linear;
}

#app
{
    height: 100%;
    margin:0;

    .media-wrapper
    {
        text-align: center;

        img, video{
            max-height: 100%;
            max-width: 100%;
        }

        .welcome{
            font-size: 32pt;
        }
    }
}