@import '~bootstrap/scss/bootstrap.scss';

#app {
    &>.container
    {
        padding-top: 12px;

        .dashboard
        {
            .btn{
                margin-bottom: 12px;
            }
        }

        .playlists, .examples
        {
            padding-top: 12px;
        }
    }
}