@import '~bootstrap/scss/bootstrap.scss';

#pages{
    margin-top: 8px;
}

#app {

    &>.container
    {
        padding-top: 12px;

        .dashboard
        {
            .btn{
                margin-bottom: 12px;
            }
        }

        .playlists, .examples
        {
            padding-top: 12px;
        }
    }
}

#main_nav
{
    .navbar-nav
    {
        .nav-item
        {
            margin-bottom: 4px;

            .btn{
                text-align: left;
            }
        }
    }

}